/*#contenedor {
    color: greenyellow;
    font-family: cursive;
    font-size: 2rem; 1rem es el tamaño por defecto que tenga el dispositivo
} */

body {
    /*el margin siempre es hacia afuera y padding es hacia adentro*/
    margin: 0px;
}

#cabecera {
    /*100% del padre*/
    width: 100vw;
    height: 300px;
    background-color: rgb(211, 117, 41);
    /*text-align: center;*/
    /*padding-top: 100px;*/
    margin-bottom: 20px;
    /*animation: cambiarColor 2s ease-in-out infinite;*/
}

img {
    width: 400px;
    height: 200px;
}

#padre {
    background-color: antiquewhite;
    width: 100vw;
    height: 200px;
}

#hijo1 {
    background-color: azure;
    width: 50%;
    height: 100%;
    float: left;
}

#hijo2 {
    background-color: aqua;
    width: 50%;
    float: right;
    height: 100%;
    text-align: center;
}

#titulo {
    margin: 0px;
    animation: mover 4s ease-in-out infinite;
}

@keyframes mover {
    0% {
        transform: translateY(0%);
    }
    16.66% {
        transform: translateY(120px) translateX(50%);
    }
    33.33% {
        transform: translateY(0px) translateX(85%);
    }
    50% {
        transform: translateY(240px) translateX(85%);
    }
    66.66% {
        transform: translateY(120px) translateX(50%);
    }
    83.33% {
        transform: translateY(240px) translateX(0%);
    }
    100% {
        transform: translateY(0px) translateX(0%);
    }
}

@keyframes cambiarColor {
    from {
        background-color: green;
    }
    to {
        background-color: aqua;
    }
}


/*** ESTILOS DE LA BARRA DE NAVEGACION**/

header nav {
    background-color: rgb(36, 33, 33);
    color: white;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    text-decoration-line: none;
    color: white;
}